<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Простой сайт</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Форма пользователя</h1>
    <form method="POST" action="/">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="city">Город:</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <div class="form-group">
            <label for="hobby">Хобби:</label>
            <input type="text" class="form-control" id="hobby" name="hobby" required>
        </div>
        <div class="form-group">
            <label for="age">Возраст:</label>
            <input type="number" class="form-control" id="age" name="age" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить данные</button>
    </form>

    {% if user_data %}
    <div class="mt-5">
        <h2>Данные о пользователе</h2>
        <p><strong>Имя:</strong> {{ user_data.name }}</p>
        <p><strong>Город:</strong> {{ user_data.city }}</p>
        <p><strong>Хобби:</strong> {{ user_data.hobby }}</p>
        <p><strong>Возраст:</strong> {{ user_data.age }}</p>
    </div>
    {% endif %}
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>